[Unit]
Description=Open WebUI Service
After=network.target

[Service]
ExecStart=/srv/Open-WebUI-Service/.venv/bin/open-webui serve
WorkingDirectory=/srv/Open-WebUI-Service
EnvironmentFile=/srv/Open-WebUI-Service/.env
Restart=always
RestartSec=3
User=root
Group=root
#StandardOutput=null
#StandardError=journal
#Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
